@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont_csdn.ttf?t=1622173733473') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e60a";
}

